<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fas fa-film"></i> Movies Land</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span style="color: #FFF8E5;"><i class="fas fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="" routerLinkActive="active">Popular Movies</a>
        <a class="nav-link" routerLink="toprated" routerLinkActive="active">TopRated Movies</a>
        <a class="nav-link" routerLink="Upcoming" routerLinkActive="active">UpComing Movies</a>
      </div>
    </div>
  </div>
</nav>
