img{
  width: 100%;
  height: 60vh;
  object-fit:cover;
}
.custom-raduis{
  border-radius: 20px;
  position: relative;
  transition: all .4s ease;
}
.custom-raduis:hover img{
  border: 3px solid #362222;
}

.headerStyle{
  text-align: left;
  margin: 3% 0;
}
.headerStyle span{
  font-size: 16px;
}
.stars{
  background-color: #FFF8E5;
  position: absolute;
  top: 15px;
  left: 0px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  padding: 10px 0;
  width: 70px;
}
.title{
  padding: 5px 0;
  font-weight: 500;
}
